[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/
.idea/
.DS_Store
Thumbs.db
*.csproj
*.sln
*.user
*.tmp[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Aa]ssets/AssetStoreTools*
UserSettings/
.vs/
.idea/
.DS_Store
Thumbs.db
*.csproj
*.sln
*.user
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
*.unitypackage
crashlytics-build.properties
Assets/Firebase/
Assets/ExternalDependencyManager/
Packages/com.ptc.vuforia*
Assets/Materials/textures/*.PSD
Assets/Materials/textures/*.psd
*.apk
*.bundle
*.so
*.tgz